@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #CCFFC5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    margin-top: 144px;
}

.rules_list {
    font-family: Inter;
    font-size: 16px;
    list-style-position: inside;
}

#formInputUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userGuess {
    margin-bottom: 18px;
    width: 350px;
    height: 60px;
    border: none;
    background-color: white;
}

#button {
    width: 350px;
    height: 60px;
    border: none;
    background-color: #3AE3A8;
    font-weight: bold;
}

#paragraph {
    font-family: Inter;
    font-size: 16px;
    margin: 0px;
}